<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>드립소다 여행친구찾기</title>
    <th:block th:insert="~{fragments/head.html :: content}"></th:block>
    <script defer th:src="@{/accompany/resources/scripts/index.js}"></script>
</head>
<body class="_layout-hmf">
<th:block th:replace="~{fragments/header.html :: content}"></th:block>
<main class="_main">
    여행친구찾기
</main>
<th:block th:replace="~{fragments/footer.html :: content}"></th:block>
</body>
</html>