@charset "UTF-8";

body > .main {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 7.5rem 1rem;
}

body > .main>.login-form {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

body > .main>.login-form >.title {
    align-self: center;
    font-size: 1.875rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
}